<ion-view title="ONESOURCE Transport">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <map class="mapWrap" center="{{position.lat}},{{position.lng}}" zoom="17"
         map-type-control="false" street-view-control="false" zoom-control="true"
         zoom-control-options="{style:'LARGE', position:'RIGHT_CENTER'}">
      <directions
        draggable="false"
        panel="directions-panel"
        travel-mode="DRIVING"
        origin="{{origin}}"
        destination="{{position.lat}},{{position.lng}}">
      </directions>

      <!--Your Position-->
      <!--<marker position="{{position.lat}},{{position.lng}}"></marker>-->
    </map>
    <div class="bar bar-footer bar-positive">
      <div class="title" ng-click="startTrip()" style="cursor: pointer">Start Trip</div>
    </div>
  </ion-content>
</ion-view>
